{% extends 'store/base.html' %} {% load static %} {% block content %}
<div class='container'>
    <div class='page'>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Rechercher un livre">
                <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
            </div>

        </div>
    </div>
    <div class="grid">
        {% for elem in books %}
        <div class="cards">
            <div class="card">
                <div class="card_img">
                    {% with elem.image|slugify as image_path %} {% with 'store/img/'|add:image_path|add:'.jpg' as image_path %}
                    <img src="{% static image_path %}"> {% endwith %} {% endwith %}
                </div>
                <span>{{elem.author}} - {{elem.title}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}