{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="{% static 'store/js/index.js' %}"></script>
    <script src="{% static 'store/js/menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/index.css' %}">

</head>

<body>
    {% csrf_token %}
    <!-- <div class="img-container">
        <img src="{% static 'store/img/logo.png' %}">
    </div> -->

    <body>
        <nav>
            <div class="logo">
                <img src="{% static 'store/img/logo.png' %}">
            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

        <div class='container'>
            <div class='page'>
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Rechercher un livre">
                        <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                    </div>
                </div>
                <div class="grid">
                    {% for elem in books %}
                    <div class="cards">
                        <div class="card">
                            <div class="card_img">
                                {% with elem.image|slugify as image_path %} {% with 'store/img/'|add:image_path|add:'.jpg' as image_path %}
                                <img src="{% static image_path %}"> {% endwith %} {% endwith %}
                            </div>
                            <span>{{ elem.author}} - {{ elem.title }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>