@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');
*,
 ::after,
 ::before {
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.05em;
    width: 80%;
    margin: 10% 0% 0% 10%;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 30px;
}


/* Image*/

.img-container {
    text-align: center;
    margin-bottom: 50px;
}

img {
    width: 200px;
}


/* End Image*/


/* Form */

.form .control {
    margin: 0 0 50px;
}

.form .control input {
    width: 100%;
    padding: 14px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 1.3em;
    height: 50px;
}

.form .control input:hover,
.form .control input:focus {
    outline: none;
    border: 0;
}

.form .btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
}

.text {
    text-align: center;
}


/* End Form */


/* Cube */

.block-cube {
    position: relative;
    margin-bottom: 5px;
}

.block-cube .bg-top {
    position: absolute;
    height: 10px;
    background: #020024;
    background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
}

.block-cube .bg-top .bg-inner {
    bottom: 0;
}

.block-cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #020024;
    background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.block-cube .bg-right {
    position: absolute;
    background: #f7ce68;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
}

.block-cube .bg-right .bg-inner {
    left: 0;
}

.block-cube .bg .bg-inner {
    transition: all 0.2s ease-in-out;
}

.block-cube .bg-inner {
    background: #212121;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}

.block-cube .text {
    position: relative;
    z-index: 2;
}

.block-cube.block-input input {
    position: relative;
    z-index: 2;
}

.block-cube.block-input input:focus~.bg-right .bg-inner,
.block-cube.block-input input:focus~.bg-top .bg-inner,
.block-cube.block-input input:focus~.bg-inner .bg-inner {
    top: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease-in-out;
}

.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
    transition: all 0.2s ease-in-out;
}

.block-cube.block-input:focus .bg-top,
.block-cube.block-input:hover .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:focus .bg,
.block-cube.block-input:hover .bg {
    background: rgba(255, 255, 255, 0.8);
}

.block-cube.block-cube-hover:focus .bg .bg-inner,
.block-cube.block-cube-hover:hover .bg .bg-inner {
    top: 100%;
}


/* End Cube */


/* Bottom text*/

.add-text {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 2em;
}

.add-text a {
    opacity: 0.6;
    color: #fff;
    font-size: 0.5em;
    text-decoration: none;
}

.add-text a:hover {
    opacity: 1;
}

.content-end {
    margin-top: 100px;
}


/*End Bottom text*/


/* pop up */

.popup {
    padding: 12px;
    background: #871010;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80px;
    margin-bottom: 12px;
}

.popup .content {
    color: #fff;
    font-size: 1em;
    font-family: serif;
}


/* end pop up*/


/*Responsive*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 481px) and (max-width: 768) {
    .control.block-cube.block-input {
        width: 80%;
        margin-left: 10%;
    }
    .btn.block-cube.block-cube-hover {
        width: 80%;
        margin-left: 10%;
    }
    .img-container {
        margin-bottom: 20px;
    }
    .content-end {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 769px) {
    body {
        width: 60%;
        margin: 1% 0% 0% 20%;
    }
    .form .btn {
        padding: 0;
        height: 30px;
        font-size: 0.7em;
    }
    img {
        width: 100px;
    }
    .form .control {
        margin: 0 0 30px;
    }
    .form .control input {
        height: 30px;
        font-size: 0.8em;
    }
    .control.block-cube.block-input {
        width: 60%;
        margin-left: 20%;
    }
    .btn.block-cube.block-cube-hover {
        width: 60%;
        margin-left: 20%;
    }
    .img-container {
        margin-bottom: 20px;
    }
    .content-end {
        margin-top: 50px;
    }
    .add-text {
        font-size: 1em;
    }
    .popup {
        min-height: 20px;
        width: 50%;
    }
    .popup .content {
        color: #fff;
        font-size: 0.5em;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */


/* @media only screen and (min-width: 600px) {
    body {
        background-color: blue;
    }
} */


/* Medium devices (landscape tablets, 768px and up) */


/* @media only screen and (min-width: 768px) {}

@media screen and (min-width: 1921px) and (max-width: 4000px) {
    .form {
        width: 450px;
    }
    h1 {
        font-size: 30px;
    }
    .add-text {
        padding: 15px;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    .add-text a {
        font-size: 15px;
    }
}

@media screen and (min-width: 1921px) and (max-width: 4000px) {
    .form {
        width: 450px;
    }
    h1 {
        font-size: 30px;
    }
    .add-text {
        padding: 15px;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    .add-text a {
        font-size: 15px;
    }
} */