        @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
        * {
            margin: 0;
            padding: 0;
            color: #f2f5f7;
            font-family: sans-serif;
            letter-spacing: 1px;
            font-weight: 300;
        }
        
        body {
            overflow-x: hidden;
            background-color: #212121;
        }
        /* Menu Nav bar */
        
        .nav-bar {
            height: 70px;
            background: #262626;
        }
        
        .brand {
            position: absolute;
            padding-left: 20px;
            float: left;
            line-height: 70px;
            text-transform: uppercase;
            font-size: 1.4em;
        }
        
        .brand a img {
            max-height: 70px;
        }
        
        .brand a,
        .brand a:visited {
            color: #ffffff;
            text-decoration: none;
        }
        
        .nav-container {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        nav {
            float: right;
        }
        
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        nav ul li {
            float: left;
            position: relative;
        }
        
        nav ul li a,
        nav ul li a:visited {
            display: block;
            padding: 0 20px;
            line-height: 70px;
            background: #262626;
            color: #ffffff;
            text-decoration: none;
        }
        
        nav ul li a:hover,
        nav ul li a:visited:hover {
            background: #2ab1ce;
            color: #ffffff;
        }
        
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
            padding-left: 4px;
            content: ' ▾';
        }
        
        nav ul li ul li {
            min-width: 190px;
        }
        
        nav ul li ul li a {
            padding: 15px;
            line-height: 20px;
        }
        
        .nav-dropdown {
            position: absolute;
            display: none;
            z-index: 1;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        }
        
        .nav-mobile {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            background: #262626;
            height: 70px;
            width: 70px;
        }
        
        @media only screen and (max-width: 798px) {
            .nav-mobile {
                display: block;
            }
            nav {
                width: 100%;
                padding: 70px 0 0;
            }
            nav ul {
                display: none;
            }
            nav ul li {
                float: none;
            }
            nav ul li a {
                padding: 15px;
                line-height: 20px;
                padding-left: 25%;
            }
            nav ul li ul li a {
                padding-left: 30%;
            }
            .nav-dropdown {
                overflow: auto;
                display: none;
                height: 150px;
                position: static;
            }
            .brand a img {
                max-height: 80px;
                margin-top: 5px;
            }
        }
        
        @media screen and (min-width: 799px) {
            .nav-list {
                display: block !important;
            }
        }
        
        #nav-toggle {
            position: absolute;
            left: 18px;
            top: 22px;
            cursor: pointer;
            padding: 10px 35px 16px 0px;
        }
        
        #nav-toggle span,
        #nav-toggle span:before,
        #nav-toggle span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: #ffffff;
            position: absolute;
            display: block;
            content: '';
            transition: all 300ms ease-in-out;
        }
        
        #nav-toggle span:before {
            top: -10px;
        }
        
        #nav-toggle span:after {
            bottom: -10px;
        }
        
        #nav-toggle.active span {
            background-color: transparent;
        }
        
        #nav-toggle.active span:before,
        #nav-toggle.active span:after {
            top: 0;
        }
        
        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }
        
        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }
        /* end nav bar */
        
        .container {
            position: absolute;
            top: 80px;
            /* left: 40px; */
            background-color: #212121;
            width: 100%;
            height: 100%;
            margin: 0;
            text-align: center;
        }
        /*Styling logo*/
        
        .logo {
            padding: 1vh 1vw;
            text-align: center;
        }
        
        .logo img {
            height: 5rem;
            width: 5rem;
        }
        /*Animating Hamburger Icon on Click*/
        
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        .toggle .line2 {
            transition: all 0.7s ease;
            width: 0;
        }
        
        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        /*Search Bar*/
        
        .page {
            margin: 0% 0% 0% 10%;
            width: 80%;
        }
        
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }
        
        .searchTerm {
            width: 100%;
            border: 3px solid #f2f5f7;
            border-right: none;
            padding: 5px;
            height: 20px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #f2f5f7;
        }
        
        .searchTerm:focus {
            color: #f2f5f7;
        }
        
        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid#f2f5f7;
            background: #f2f5f7;
            text-align: center;
            color: red;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }
        
        input {
            background-color: #212121;
        }
        /*Resize the wrap to see the search bar change!*/
        
        .wrap {
            margin: 10% 0% 0% 10%;
            width: 80%;
            position: relative;
        }
        
        .fa {
            color: #212121;
        }
        /* end search bar */
        /* grid product */
        
        .grid {
            display: grid;
        }
        
        .card {
            color: white;
            padding: 1px;
        }
        
        .cards {
            max-width: 1200px;
            margin: 20px auto;
            display: grid;
            grid-gap: 10px;
            width: 80%;
        }
        
        .card_img img {
            object-fit: contain;
            margin-bottom: 10px;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: 200px;
        }
        
        .card_img span {
            display: block;
        }
        /* Screen larger than 600px? 2 column */
        
        @media (min-width: 600px) {
            .cards {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        /* Screen larger than 900px? 3 columns */
        
        @media (min-width: 900px) {
            .cards {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        /* end grid */